<!DOCTYPE html>
<html>
  <head>
    <title>MNIST Handwritten Digits Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <h3>Upload a picture of a digit to see what digit it is!</h3>
    <form method='post' enctype=multipart/form-data>
    <input type="file" name="file" />
    <input type="submit" value="upload" />
  </body>
</html>
